<div class="container">
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-outline-success mt-3"
        (click)="addNewQuiz()"
      >
        Add New Quiz
      </button>
      <div class="card mt-3">
        <div class="list-group list-group-flush">
          <button
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
            *ngFor="let q of quizzes"
            [class.active]="q === selectedQuiz"
            (click)="selectQuiz(q)"
          >
            <span class="text-truncate">
              {{ q.quizName }}
            </span>
            
            <small class="fst-italic fw-lighter text-nowrap">
              Questions: {{ q.quizQuestions.length }}
            </small>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-8 mt-3"
      *ngIf="selectedQuiz !== undefined"
    >
      <div>
        <button class="btn btn-outline-dark">
          Save
        </button>
        <button class="btn btn-link">
          Cancel
        </button>
      </div>
      <div class="card mt-3">
        <div class="card-header h4">
          <input type="text" class="form-control"
            [(ngModel)]="selectedQuiz.quizName"
          >
        </div>
        <div class="card-body">
          <button
            class="btn btn-outline-success"
            (click)="addNewQuestion()"
          >
            Add New Question
          </button>
        </div>
        <div class="card-body"
          *ngFor="let qt of selectedQuiz.quizQuestions"
        >
          <div class="card-header">
            Question
          </div>
          <div class="card-body">
            <input type="text" class="form-control"
              [(ngModel)]="qt.questionText"
            >
          </div>
        </div>
        <!-- <div class="card-body"
          
        >
          <div class="card">
            <div class="row">
              <div class="col-md-10">
                
              </div>
            </div>
            <div class="card-header d-flex justify-items-between">
              <span>{{ qt.questionText }}</span>
              <button class="btn btn-outline-success">
                Add Question
              </button>
            </div>
            <div class="card-body">
              <input 
              type="text" 
              class="form-control" 
              [(ngModel)]="writtenQuestion"
              (keyup.enter)="clicked()"
              >
            </div>
          </div>
        </div> -->
      </div>

      <div class="card mt-3">
        <div class="card-header">
          Questions
        </div>
        <div class="card-body">
          
          <div 
            class="row mt-3"
            *ngFor="let question of selectedQuiz.quizQuestions"
          >
            <div class="col-md-10">
              <input type="text" class="form-control"
              [(ngModel)]="question.questionText">
            </div>
            <div class="col-md-2">
              <button 
                class="btn btn-link text-danger"
                (click)="removeQuestion(question)"
              >
                Remove
              </button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card mt-3">
        <div class="card-header">
          Other?
        </div>
        <div class="card-body">
          Coming soon to a quiz near you...
        </div>
      </div>
    </div>
    <div class="col-md-8"
      *ngIf="selectedQuiz === undefined"
    >
      <div class="card bg-light text-center mt-3">
        <h2>
          No Quiz Selected
        </h2>
        <p>
          Select a quiz to see things here... or take drugs...
        </p>
      </div>
    </div>
  </div>
</div>